# Auto detect text files and perform LF normalization
*.hx eol=lf
*.xml eol=lf
*.json eol=lf
*.txt eol=lf
*.lang eol=lf
*.bat eol=lf

*.png binary
*.mp3 binary
*.ogg binary
*.flac binary
*.zip binary
*.7z binary
*.ttf binary